:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  width: 35rem;
  height: auto;

  margin-block: 6.4rem 3.2rem;
  margin-inline: auto;
}

main {
  max-width: 60rem;
  margin-inline: auto;
}

h1 {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  color: #3f3d56;
}

h1 span {
  font-weight: 700;
  color: #ee24ff;
}

p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  text-align: center;

  color: #828282;

  margin-block: 1.6rem 6.4rem;
}

p span {
  color: #3f3d56;
  font-weight: 700;
}

footer {
  width: 100%;
}

#menu {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 147.68%;
  text-align: center;
  color: #3f3d56;

  width: fit-content;
  margin-inline: auto;
  padding: 1.6rem 5rem;

  border-top: 1px solid #eceff2;
}

a {
  text-decoration: none;
}

a + a {
  margin-left: 4.2rem;
}

#wave img {
  position: fixed;
  width: 100%;
  top: 74.2rem;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
